h1 {
  text-align: center;
  margin: 20px 0;
  color: #fff;
  opacity: .5;
}
.previous, .next {
  position: fixed;
  top: calc(50% - 5px);
  .btn{
    font-size: 2.5em;
    background: none;
    border: none;
    outline: none;
    opacity: .5;
    text-shadow: 1px 1px 3px #000;
    -webkit-transform:scale(1,2); /* Safari and Chrome */
    -moz-transform:scale(1,2); /* Firefox */
    -ms-transform:scale(1,2); /* IE 9 */
    -o-transform:scale(1,2); /* Opera */
    transform:scale(1,2); /* W3C */
  }
}
.previous {
  left: 40px;
}
.next {
  right: 40px;
}
.back {
  position: fixed;
  top: 75px;
  right: 40px;
  background: none;
  border: none;
  outline: none;
  opacity: .5;
}