<div
  class="page-container bg-dark"
  [ngClass]="{ 'full-screen': doSlideShow || doFullScreen }"
>
  <main>
    <div class="container-fluid py-1 bd-layout">
      <h1 class="d-flex m-0 justify-content-between">
        <button
          [routerLink]="'/' + back"
          type="button"
          class="btn btn-dark header-btn px-0"
        >
          Back
        </button>

        {{ title }}
        <div class="btn-group" dropdown placement="bottom right">
          <button
            id="button-basic"
            dropdownToggle
            type="button"
            class="btn btn-lg btn-dark header-btn px-0 dropdown-toggle"
            aria-controls="dropdown-basic"
          >
            <i class="fas fa-cog"></i>
          </button>
          <ul
            *dropdownMenu
            class="dropdown-menu dropdown-menu-right"
            role="menu"
            aria-labelledby="button-basic"
          >
            <li role="menuitem">
              <a (click)="slideShow(false)" class="dropdown-item"
                >Full Screen</a
              >
            </li>
            <li role="menuitem">
              <a (click)="slideShow(true)" class="dropdown-item">Slide Show</a>
            </li>
          </ul>
        </div>
      </h1>
      <div class="d-flex image-container justify-content-center">
        <img
          *ngIf="image"
          (click)="slideShow(null)"
          [appFadeImg]="fadeImg"
          [src]="image"
          class="w-100 mh-100"
          [alt]="title"
        />
      </div>
    </div>
    <ng-container *ngIf="!doSlideShow && !doFullScreen">
      <div class="previous">
        <button [routerLink]="prevUrl" type="button" class="btn btn-dark">
          <i class="fa-solid fa-angles-left"></i>
        </button>
      </div>
      <div class="next">
        <button [routerLink]="nextUrl" type="button" class="btn btn-dark">
          <i class="fa-solid fa-angles-right"></i>
        </button>
      </div>
    </ng-container>
  </main>
  <app-footer class="d-block w-100"></app-footer>
</div>
