.navbar {
  background-color: #35333b;
}
nav {
  background: #35333b;
  font-weight: bold;
  font-size: 16px;
  font-family: 'Khand', sans-serif;
  z-index: 11;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
}