/* You can add global styles to this file, and also import other style files */
html, body {
  font: 400 15px/1.4 'Lato', Helvetica, Arial, sans-serif;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
main {
  min-height: calc(100% - 46.5px);
}
.page-container {
  top: 45px;
  left: 0px;
  height: calc(100% - 45px);
  width: 100%;
  overflow: hidden;
  overflow-y: auto;
  position: fixed;
  -webkit-overflow-scrolling: touch;
}

/*------------------------------------*\
	TYPOGRAPHY
\*------------------------------------*/
/* Lato - Light */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(assets/fonts/Lato-Light.ttf) format('truetype');
}
/* Lato - Regular */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(assets/fonts/Lato-Regular.ttf) format('truetype');
}
/* Lato - Bold */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(assets/fonts/Lato-Bold.ttf) format('truetype');
}
/* Lato - Light Italic */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 300;
  src: local('Lato Light Italic'), local('Lato-LightItalic'), url(assets/fonts/Lato-LightItalic.ttf) format('truetype');
}
/* Lato - Italic */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: local('Lato Italic'), local('Lato-Italic'), url(assets/fonts/Lato-Italic.ttf) format('truetype');
}
/* Lato - Bold Italic */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  src: local('Lato Bold Italic'), local('Lato-BoldItalic'), url(assets/fonts/Lato-BoldItalic.ttf) format('truetype');
}
/* Khand - Light */
@font-face {
  font-family: 'Khand';
  font-style: normal;
  font-weight: 300;
  src: local('Khand Light'), local('Khand-Light'), url(assets/fonts/Khand-Light.ttf) format('truetype');
}
/* Khand - Regular */
@font-face {
  font-family: 'Khand';
  font-style: normal;
  font-weight: 400;
  src: local('Khand'), local('Khand-Regular'), url(assets/fonts/Khand-Regular.ttf) format('truetype');
}
/* Khand - Medium */
@font-face {
  font-family: 'Khand';
  font-style: normal;
  font-weight: 500;
  src: local('Khand Medium'), local('Khand-Medium'), url(assets/fonts/Khand-Medium.ttf) format('truetype');
}
/* Khand - Semibold */
@font-face {
  font-family: 'Khand';
  font-style: normal;
  font-weight: 600;
  src: local('Khand Semibold'), local('Khand-Semibold'), url(assets/fonts/Khand-Semibold.ttf) format('truetype');
}
/* Khand - Bold */
@font-face {
  font-family: 'Khand';
  font-style: normal;
  font-weight: 700;
  src: local('Khand Bold'), local('Khand-Bold'), url(assets/fonts/Khand-Bold.ttf) format('truetype');
}

.text-justify {
  text-align:justify !important;
}
.carbon {
 background: linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px, linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px, linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px, linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px, linear-gradient(90deg, #1b1b1b 10px, transparent 10px), linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
 background-color: #131313;
 background-size: 20px 20px;
}

.shake {
  -webkit-animation: ring 3s linear infinite; /* Safari 4.0 - 8.0 */
  animation: shake 3s linear infinite;
  will-change: transform;
}

.kaboom {
  -webkit-animation: ring 3s linear infinite; /* Safari 4.0 - 8.0 */
  animation: shake 3s linear;
  will-change: transform;
}

.shake-feature {
  &:hover {
    -webkit-animation: ring 3s linear infinite; /* Safari 4.0 - 8.0 */
    animation: shake 3s linear infinite;
    will-change: transform;
  }
}

.w-300px {
  width: 300px;
  max-width: 100%;
}
.w-400px {
  width: 400px;
  max-width: 100%;
}
.w-500px {
  width: 500px;
  max-width: 100%;
}
.w-600px {
  width: 600px;
  max-width: 100%;
}
.w-700px {
  width: 700px;
  max-width: 100%;
}
.w-800px {
  width: 800px;
  max-width: 100%;
}
.w-900px {
  width: 900px;
  max-width: 100%;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes shake {
  1%  {transform: rotate(15deg)}
  2%  {transform: rotate(0deg)}
  3%  {transform: rotate(-15deg)}
  4%  {transform: rotate(0deg)}
  5%  {transform: rotate(15deg)}
  6%  {transform: rotate(0deg)}
  7%  {transform: rotate(-15deg)}
  8%  {transform: rotate(0deg)}
  9%  {transform: rotate(15deg)}
  10%  {transform: rotate(0deg)}
  11%  {transform: rotate(-15deg)}
  12%  {transform: rotate(0deg)}
  13%  {transform: rotate(15deg)}
  14%  {transform: rotate(0deg)}
  15%  {transform: rotate(-15deg)}
  16%  {transform: rotate(0deg)}
  100%  {transform: rotate(0deg)}
}

/* Standard syntax */
@keyframes shake {
  1%  {-webkit-transform: rotate(15deg)}
  2%  {-webkit-transform: rotate(0deg)}
  3%  {-webkit-transform: rotate(-15deg)}
  4%  {-webkit-transform: rotate(0deg)}
  5%  {-webkit-transform: rotate(15deg)}
  6%  {-webkit-transform: rotate(0deg)}
  7%  {-webkit-transform: rotate(-15deg)}
  8%  {-webkit-transform: rotate(0deg)}
  9%  {-webkit-transform: rotate(15deg)}
  10%  {-webkit-transform: rotate(0deg)}
  11%  {-webkit-transform: rotate(-15deg)}
  12%  {-webkit-transform: rotate(0deg)}
  13%  {-webkit-transform: rotate(15deg)}
  14%  {-webkit-transform: rotate(0deg)}
  15%  {-webkit-transform: rotate(-15deg)}
  16%  {-webkit-transform: rotate(0deg)}
  100% {-webkit-transform: rotate(0deg)}
}