.carousel-img-wrapper {
  img {
    height: 300px;
    object-fit: cover;
  }
}
.carousel-caption {
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}
.blog-info {
  text-align: center;
  font-size: 32px;
  font-weight: 600 !important;
  font-family: Khand, sans-serif;
}
a {
  color: unset;
  text-decoration: none;
}
ngb-carousel {
  margin: 0 -11px;
}