<footer class="footer p-2">
  <div class="site-info d-flex justify-content-between">
    <div class="blackjack">
      <a href="http://blackjack.technicallytom.com/" class="text-decoration-none">
        <img src="assets/img/twenty-one.png" class="rounded-circle" />&nbsp;
        Play Tech Tom's 21
      </a>
    </div>
    <div>
      <a href="https://www.facebook.com/tomalperin" target="_blank">
        <img class="ms-2" src="assets/img/facebook.png" alt="Facebook" />
      </a>
      <a href="https://www.twitter.com/tomalperin" target="_blank">
        <img class="ms-2" src="assets/img/twitter.png" alt="Twitter" />
      </a>
      <a href="https://www.linkedin.com/in/tomalperin" target="_blank">
        <img class="ms-2" src="assets/img/linkedin.png" alt="LinkedIn" />
      </a>
      <a href="https://www.youtube.com/user/tomalperin" target="_blank">
        <img class="ms-2" src="assets/img/youtube.png" alt="YouTube" />
      </a>
    </div>
  </div>
</footer>
